<div class="container">
<div class="row">
    <form class="form-contact col-md-6" role="form">
        <h2>Contact Us</h2>
        <div class="form-group">
        <input type="email" class="form-control" placeholder="Email address" required="" >
        </div>
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" required="" >
        </div>
        <div class="form-group">
        <textarea class="form-control" required="" placeholder="Your message..." ></textarea>
        </div>
        <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </div>
    </form>
    <div class="col-md-4 col-md-offset-2">
        <h2>Our Office</h2>
        <address>
        <strong>Diffy Dumont Slacks</strong>
        <br>1123 Lexington Ave<br>
            New York, NY 10028<br>
            (212) 555 - 1234
        </address>
    </div>

</div>
</div>
